body {
    background-color: #4c4c4c;
}

.circle {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  width: 50em;
  height: 50em;

  border-width: 10px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;

  overflow: hidden;

  background-color: #e60000;
  box-shadow: inset 0 0 120px #000000;

  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: -1
}

.color-shift {
  height: 60em;
  width: 50em;
  margin-top: -10%;
  margin-left: 50%;

  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #151515;

  background-color: rgba(0, 0, 0, 0.37);
  z-index: 5;
}

.time-container {
  position: absolute;
  top: 28%;
  left: 2.5%;
  width: 46.5em;
  text-align: center;
}

.text {

  font-size: 270px;

  color: white;
}

/* Animations */
@keyframes colorChange {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}
