@media (min-width: 700px) {
    .parallax-container {
			height: 800px;
		}
}


body{
	background-size: cover;
	background-repeat: no-repeat;
}



.parallax-container {
	height: 1100px;
}

nav{
	background-color: #000000;
}



li{
	
}

#mainSection {
	height: 50em;
}